
<!DOCTYPE html>
<html>
<head>
  <title>Location Search</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="app">
    <button @click="getCurrentLocation">Get Current Location</button>
    <input type="text" v-model="searchQuery" @keyup.enter="searchLocation">
    <button @click="searchLocation">Search Location</button>
    <div id="map"></div>
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" v-model="selectAll" @click="toggleSelectAll"></th>
          <th>Location</th>
          <th>Time Zone</th>
          <th>Local Time</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="place in paginatedPlaces" :key="place.name">
          <td><input type="checkbox" v-model="selectedPlaces" :value="place"></td>
          <td>{{ place.name }}</td>
          <td>{{ place.timezone }}</td>
          <td>{{ place.localTime }}</td>
        </tr>
      </tbody>
    </table>
    <button @click="deleteSelected">Delete Selected</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW6tH9sOIiGlNRXj3jPnGPntN7m1CQ38&libraries=places"></script>
  <script src="script.js"></script>
</body>
</html>